body , html{
	min-height: 100%
}
body{
	padding:0;
	margin:0;
	font-size:small;
	background-image: url(../img/30415.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#header{
	top:0;
	overflow:hidden;
	background-color:#124158;
	width:100%;
	color:#b7b2b2;
	border-bottom:3px solid color:#fff;
	height:auto;
	text-align:center;
}
#header h1{
	text-transform:uppercase;
	margin:15px;
}

#footer{
	bottom:0;
	background-color:#1f3b88;
	width:100%;
	color:white;
	border-top:3px solid #21308a;
	height:auto;
	text-align:right;
	position:fixed;
}
#footer p{
	font-size:15px;
	text-transform:uppercase;
	padding:2px 10px 2px 0px;
}
#container{
	width:35%;
	margin:5%;
	margin-right:auto;
	margin-left:auto;
	background-color:rgb(42, 61, 112);
	border-radius:20px;
	box-shadow: 0px 0px 12px #1f3b88;
	height:auto;
}
#signupbox{
	display:none;
	padding:40px;
}
#container #tabbox{
	width:100%;
	height:40px;	
	border-bottom: 1px solid #fff;
}
/* now lets style the particular tabs */
.tab{
	width:50%;
	height:40px;
	display:block;
	line-height:40px;
	text-align:center;	 
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius:4px 4px 0px 0px;
	 text-transform: uppercase;
} 
#tabbox a { 
    float:left; 
    text-decoration:none;
    color:#b7b2b2; 
   }
.select
{
background-color:white;
}
label{
	display:block;
	padding:3px;
	text-transform: uppercase;
	color:#fff;
}
.txtfield{
	border-radius:5px;
	height:25px;
	width:80%;
}
.btn{
	display:block;
	padding:10px;
	border-radius:7px;
	background-color:#fff;
	color:#000;
	font-size:15px;
	margin:10px 0px 0px 15px;
	box-shadow:0px 0px 5px #fff;
}
#signinbox{
	padding:15px;
	margin:30px 0px 0px 30px;
}
.error{
	color:red;
}
.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 80%;
}
/*upload img user*/
.dropzone{
    width: 300px;
    height: 300px;
    border:2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}
.dropzone.dragover{
    border-color: #000;
    color: #000;
}
