<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{pagename}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}" ></script>
  
</head>

<body style="background-color: rgb(125, 139, 143)">
  <!-- body -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('home',user=user.id)}}">ARTS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/gallery/{{user.id}}">Galeria</a>
                            </li>
                            <li>
                                <a href="/likes/{{user.id}}">Likes</a>
                            </li>
                            <li>
                                <a href='/upload_image/{{user.id}}'>Upload image</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/{{user.name}}">{{user.name}}</a>
                            </li>
                            <li>
                                <a href="/logout">Log-out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  <!-- Blog Search Well --> 
   <div class="container">
   <br>
        <!-- Page Heading/Breadcrumbs -->
        <hr>
        {% if img %}
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Imagense Recientes<!--img.name--></h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">            <!-- Blog Entries Column -->
            <div class="col-md-8">
                {% for image in img  %}
                    <!-- First Blog Post -->
                    <h2>
                        <a href="#">{{image.name}}</a>
                    </h2>
                    <p class="lead">
                        by <a href="#">{{image.submiter}}</a>
                    </p>
                    <p><i class="fa fa-clock-o"></i> Posted on {{image.date}}</p>
                    <hr>
                    <a href="blog-post.html">
                        <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
                        <img class="img-responsive img-hover" src="{{image.url}}" alt="">
                    </a>

                    <hr>
                {% endfor %}
            </div>
            {% else %}
            
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-heade">No contenido en el momento</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

            </div>
            {% endif %}
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
   <!-- body -->
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

  <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>
</html>

