<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	 <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="body">
	<header class="mainheader">
		<img src='img/front'>
	
		<nav><ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">{{user}}</a></li>
			<li><a href="#">Portafoli</a></li>
		</ul></nav>
	</header>
	<div class="mainContent">
		<div class="content">
			<header>
				<h2><a href="#" title="{{image.name}}">{{image.name}}</a></h2>
			</header>
			<footer>
				<a href="#">{{user.name}}</a>
			</footer>
		</div>
	</div>
</body>
</html>