{% extends 'base.html' %}
{% block breadcrumb %}
  <li><a href="{{ url_for('clientes', user_id=user.id) }}">{{ user.name }}</a>&nbsp;/</li> &nbsp;
  {% block groupbreadcrumb %}
  {% endblock %}
{% endblock %}
{% block stage %}
<div class="row group_list">
  <div class="col-2  detail_list">
    <div class="nav-2" id="nav-conteiner">
      <ul class="sub-menu">
        <li><a href="{{ url_for('clientes', user_id=user.id) }}" class="list_header"></i>Group  Profile</a></li>
        <li>
          <a href="#" class="list_header"></i>Members<span class="pull-right"><i class="fa fa-caret-down"></i></span></a>
          <ul class="sub-menus">
            <li><a href="{{ url_for('prestamistas_editar', user_id=user.id )}}"></i>Add New Member</a></li>
            <li><a href="{{ url_for('prestamistas_ver', user_id=user.id , prestamista_id=loan_account.id_person) }}"></i>View Members</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="list_header"> </i>Accounts<span class="pull-right"><i class="fa fa-caret-down"></i></span></a>
          <ul class="sub-menus">
           {% if loan_account %}
            <li><a href="{{ url_for('depositos', user_id=user.id) }}"></i>View Savings</a></li>
           {% else %}
            <li><a href="{{ url_for('Transacciones', user_id=user.id) }}"></i>Savings Application</a></li>
           {% endif %}
            <li><a href="{{ url_for('solicitud_ver', user_id=user.id, solicitud_id=loan_account.id) }}"></i>New Loan Application</a></li>
            <li><a href="{{ url_for('solicitud', user_id=user.id) }}"></i>View Loans</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
 
</div>
{% endblock %}