{% extends "base.html" %}
{% block content %}
	<label class="estilos" style="display: inline; float: center;" >
                <label>lapises</label>
                <input type="radio" name="estilo" value="lapises">
                <label>colores</label>
                <input type="radio" name="estilo" value="colores">
                <label>oleos</label>
                <input type="radio" name="estilo" value="oleos">
                <label>carboncillo</label>
                <input type="radio" name="estilo" value="carboncillo">
                <label>Sketch</label>                
                <input type="radio" name="estilo" value="Sketch">
                <label>formas</label>
                <input type="radio" name="estilo" value="formas">
                <label>animales</label>
                <input type="radio" name="estilo" value="animales">
                <label>digital</label>
                <input type="radio" name="estilo" value="digital">
                <label>stret-art</label>
                <input type="radio" name="estilo" value="stret-art">
                <label>bustos</label>
                <input type="radio" name="estilo" value="bustos">
    </label>
    <div class="col-lg-12">
            <h1 class="page-header" style="margin:0;">Gallery</h1>
        </div>
        {% for img in images %}
        <div class="contenido">
            <h2 class="img-url-name">
                <p><a href="{{url_for('img',user_name=img.user_img_name,img_id=img.id)}}">{{img.name}}</a></p>
            </h2>
            <p class="lead">
                by <a href="{{url_for('gallery',user_id=img.user_img_name)}}">{{img.user_img_name}}</a>
            </p>
            <p class="date"><i class="fa fa-clock-o"></i> Posted on {{img.creacion}}</p>
            <hr>
            {{img.folder}}
            <a href="{{url_for('img',user_name=img.user_img_name,img_id=img.id)}}">
            <img style='width: 70%;height: 40%;' src="{{url_for('static', filename='img/7cbc4e37ea8825d838b06c5b0c460b9d.jpg')}}">
            <img src="{{url_for('static', filename=img.folder)}}">
            </a>
            <p>{{img.tag}}</p>
            <hr>
            {% if user.id == user_id %}
                <a href="{{url_for('delete',user_id=user.id, img_id=img.id)}}">Delete img</a>
                <a href="{{url_for('edit',user_id=user.id, img_id=img.id)}}">Edit iinfo</a>
            {% endif %}
            <div id='bar'>
                <div id="bar">
                    <div id="likes"></div>
                    <div id="dislikes"></div>
                </div>
                    <input type="button" value="Like" id="likeButton" onclick="like();"/>
                    <input type="button" value="Dislike" id="dislikeButton" onclick="dislike();"/>
            </div>
        {% endfor %}
       <script type="text/javascript">
       	$(":radio[name=estilo]").click(function() {
        var topic = $(this).val();
        $.ajax({
            url: '/estilos/'+topic,
            type: 'GET',
            dataType: 'json',
            data: {'topico':topic},
        }).done(function(data) {
            consolo.log('done');
    });
       </script>
{% endblock%}