{% extends "base.html" %}
{% block content%}
    <!-- <link rel="stylesheet" type="text/css" href=""> -->
    <div class="contenido">
        <h2 class="img-url-name">
            <p >{{img.name}}</p>
        </h2>
        <p class="lead">
            by <a href="{{url_for('gallery',user_id=img.user_img_name)}}">{{img.user_img_name}}</a>
        </p>
        <p class="date"><i class="fa fa-clock-o"></i> Posted on {{img.creacion}}</p>
        <hr>
        <img style='width: 40%;height: 30%;' src="{{ url_for('static', filename=img.folder) }}">
        <div class="likes">
            <a href="{{url_for('estilos',estilo=img.estilo)}}">{{img.estilo}}</a>
            {% if user.id == user_id  %}
                <a href="{{url_for('informacion',user_id=user.id,img_id=img.id)}}">Editar imagen</a>
                <a href="{{url_for('delete',user_id=user.id,foto_id=img.id)}}">Delete imagen</a>
            {% endif %}
        </div>
        <hr>
        <div id='bar'>
                <div id="bar">
                    <div id="likes" value="{{img.id}}"></div>
                    <div id="dislikes"></div>
                </div>
                <input type="button" value="{{like.like}} Like" id="likeButton"/>
                <input type="button" value="{{like.dislike}} Dislike" id="dislikeButton"/>
        </div>
        <hr>
<form action="{{url_for('comments',user_id=user.name,img_id=img.id)}}" method="post">
<div>
<textarea name="comments" id="comments">
Hey... say something!
</textarea>
</div>
<input type="submit" value="Submit" class="coment">
</form>
<hr>
{% for comentario in coments %}
    <div id="{{comentario.id}}" style="width:80%;">
        <h2>Comentario por: {{comentario.user_id}}</h2>
        <p>{{comentario.content}}</p>
        <p class="date"><i class="fa fa-clock-o"></i> Posted on {{comentario.creacion}}</p>
    </div>
    <hr>
{% endfor%}
</div>
<style type="text/css">
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('#likeButton').on('click',function(){ 
        var likes = parseInt($(this).val())+1;
        var dislikes = parseInt($(this).next().val());
        var perL=(likes/(likes+dislikes))*100;
        var perD=(dislikes/(likes+dislikes))*100;
        $(this).siblings("div").children('#dislikes').css({"width": ""+perD+"%"});
        $(this).siblings("div").children('#likes').css({"width": ""+perL+"%"});
        $(this).val(""+likes.toString()+" Like")
    });
    $('#dislikeButton').on('click',function(){
        var dislikes = parseInt($(this).val())+1;
        var likes = parseInt($(this).prev().val());
        var perL=(likes/(likes+dislikes))*100;
        var perD=(dislikes/(likes+dislikes))*100;
        $(this).siblings("div").children('#dislikes').css({"width": ""+perD+"%"});
        $(this).siblings("div").children('#likes').css({"width": ""+perL+"%"});
        $(this).val(""+dislikes.toString()+" Dislike")
    });
});
</script>
{% endblock %}