<div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <span class="Main">
                            Update contact information
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="Panel clearfix">
                        <h4>
                            Shipping information
                        </h4>
                        
                        <p>
                            
</p><div class="BlockInputFields">
    <span id="ctl00_contentPage_ShippingAddressControl_CountryLabel" class="NotRequired">Country:</span>
    <select name="ctl00$contentPage$ShippingAddressControl$CountryDropDownList" onchange="javascript:setTimeout('__doPostBack(\'ctl00$contentPage$ShippingAddressControl$CountryDropDownList\',\'\')', 0)" id="ctl00_contentPage_ShippingAddressControl_CountryDropDownList" style="width: auto">
	<option value="-1">Select a country</option>
	<option value="2">Albania</option>
	<option value="171">Algeria</option>
	<option value="189">American Samoa</option>
	<option value="912">Andorra</option>
	<option value="178">Angola</option>
	<option value="190">Anguilla</option>
	<option value="191">Antigua and Barbuda</option>
	<option value="192">Argentina</option>
	<option value="914">Armenia</option>
	<option value="193">Aruba</option>
	<option value="194">Australia</option>
	<option value="195">Austria</option>
	<option value="917">Azerbaijan</option>
	<option value="196">Bahamas</option>
	<option value="197">Bahrain</option>
	<option value="198">Bangladesh</option>
	<option value="199">Barbados</option>
	<option value="911">Belarus</option>
	<option value="200">Belgium</option>
	<option value="328">Belize</option>
	<option value="918">Benin</option>
	<option value="201">Bermuda</option>
	<option value="919">Bhutan</option>
	<option value="202">Bolivia</option>
	<option value="329">Bonaire</option>
	<option value="909">Bosnia and Herzegovina</option>
	<option value="313">Botswana</option>
	<option value="203">Brazil</option>
	<option value="17">Brunei Darussalam</option>
	<option value="204">Bulgaria</option>
	<option value="19">Burkina Faso</option>
	<option value="772">Burundi</option>
	<option value="892">Cambodia</option>
	<option value="20">Cameroon</option>
	<option value="312">Canada</option>
	<option value="920">Cape Verde Islands</option>
	<option value="205">Cayman Islands</option>
	<option value="973">Central African Republic</option>
	<option value="976">Chad</option>
	<option value="905">Channel Islands</option>
	<option value="206">Chile</option>
	<option value="207">China</option>
	<option value="23">Colombia</option>
	<option value="916">Commonwealth of The Bahamas</option>
	<option value="921">Comoros Islands</option>
	<option value="331">Cook Islands</option>
	<option value="210">Costa Rica</option>
	<option value="211">Cote D'Ivoire</option>
	<option value="212">Croatia</option>
	<option value="213">Cuba</option>
	<option value="677">Curacao</option>
	<option value="214">Cyprus</option>
	<option value="215">Czech Republic</option>
	<option value="216">Denmark</option>
	<option value="28">Djibouti</option>
	<option value="217">Dominica</option>
	<option value="218">Dominican Republic</option>
	<option value="983">East Timor</option>
	<option value="219">Ecuador</option>
	<option value="220">Egypt</option>
	<option value="221">El Salvador</option>
	<option value="922">Equatorial Guinea</option>
	<option value="981">Eritrea</option>
	<option value="222">Estonia</option>
	<option value="314">Ethiopia</option>
	<option value="923">Falkland Islands</option>
	<option value="924">Faroe Islands</option>
	<option value="223">Fiji</option>
	<option value="224">Finland</option>
	<option value="225">France</option>
	<option value="334">French Guiana</option>
	<option value="649">French Polynesia</option>
	<option value="226">Gabon</option>
	<option value="925">Gambia</option>
	<option value="975">Georgia</option>
	<option value="227">Germany</option>
	<option value="228">Ghana</option>
	<option value="926">Gibraltar</option>
	<option value="230">Greece</option>
	<option value="927">Greenland</option>
	<option value="679">Grenada</option>
	<option value="231">Guadeloupe</option>
	<option value="232">Guam</option>
	<option value="233">Guatemala</option>
	<option value="980">Guinea</option>
	<option value="335">Guyana</option>
	<option value="234">Haiti</option>
	<option value="235">Honduras</option>
	<option value="237">Hungary</option>
	<option value="238">Iceland</option>
	<option value="239">India</option>
	<option value="240">Indonesia</option>
	<option value="648">Ireland</option>
	<option value="242">Israel</option>
	<option value="243">Italy</option>
	<option value="244">Jamaica</option>
	<option value="245">Japan</option>
	<option value="246">Jordan</option>
	<option value="247">Kazakhstan</option>
	<option value="248">Kenya</option>
	<option value="928">Kiribati</option>
	<option value="681">Korea (South)</option>
	<option value="250">Kuwait</option>
	<option value="974">Kyrgyzstan</option>
	<option value="929">Laos</option>
	<option value="251">Latvia</option>
	<option value="252">Lebanon</option>
	<option value="930">Lesotho</option>
	<option value="58">Liberia</option>
	<option value="982">Libya</option>
	<option value="904">Liechtenstein</option>
	<option value="253">Lithuania</option>
	<option value="254">Luxembourg</option>
	<option value="931">Macau</option>
	<option value="910">Macedonia</option>
	<option value="186">Madagascar</option>
	<option value="255">Malawi</option>
	<option value="256">Malaysia</option>
	<option value="932">Maldives</option>
	<option value="977">Mali</option>
	<option value="315">Malta</option>
	<option value="933">Marshall Islands</option>
	<option value="257">Martinique</option>
	<option value="979">Mauritania</option>
	<option value="258">Mauritius</option>
	<option value="259">Mexico</option>
	<option value="972">Micronesia</option>
	<option value="177">Moldova</option>
	<option value="906">Monaco</option>
	<option value="934">Mongolia</option>
	<option value="915">Montenegro</option>
	<option value="935">Montserrat</option>
	<option value="316">Morocco</option>
	<option value="803">Mozambique</option>
	<option value="64">Namibia</option>
	<option value="936">Nauru</option>
	<option value="260">Nepal</option>
	<option value="261">Netherlands</option>
	<option value="102">Netherlands Antilles</option>
	<option value="263">New Caledonia</option>
	<option value="348">New Zealand</option>
	<option value="265">Nicaragua</option>
	<option value="67">Niger</option>
	<option value="266">Nigeria</option>
	<option value="943">Niue</option>
	<option value="267">Northern Mariana Islands</option>
	<option value="268">Norway</option>
	<option value="269">Oman</option>
	<option value="270">Pakistan</option>
	<option value="271">Panama</option>
	<option value="272">Papua New Guinea</option>
	<option value="273">Paraguay</option>
	<option value="274">Peru</option>
	<option value="275">Philippines</option>
	<option value="276">Poland</option>
	<option value="277">Portugal</option>
	<option value="310">Puerto Rico</option>
	<option value="278">Qatar</option>
	<option value="183">Reunion</option>
	<option value="76">Romania</option>
	<option value="821">Russia</option>
	<option value="978">Rwanda</option>
	<option value="685">Saint BarthTlemy</option>
	<option value="280">Saint Kitts and Nevis</option>
	<option value="281">Saint Lucia</option>
	<option value="687">Saint Martin</option>
	<option value="282">Saint Vincent and the Grenadines</option>
	<option value="149">Samoa</option>
	<option value="907">San Marino</option>
	<option value="937">São Tomé and Príncipe</option>
	<option value="283">Saudi Arabia</option>
	<option value="284">Senegal</option>
	<option value="306">Serbia</option>
	<option value="938">Seychelles</option>
	<option value="176">Sierra Leone</option>
	<option value="285">Singapore</option>
	<option value="822">Slovakia</option>
	<option value="908">Slovenia</option>
	<option value="317">Solomon Islands</option>
	<option value="286">South Africa</option>
	<option value="287">Spain</option>
	<option value="288">Sri Lanka</option>
	<option value="342">Suriname</option>
	<option value="88">Swaziland</option>
	<option value="289">Sweden</option>
	<option value="290">Switzerland</option>
	<option value="291">Syria</option>
	<option value="692">Tahiti</option>
	<option value="824">Taiwan</option>
	<option value="939">Tajikistan</option>
	<option value="825">Tanzania</option>
	<option value="294">Thailand</option>
	<option value="940">Togo</option>
	<option value="344">Tonga</option>
	<option value="881">Trinidad and Tobago</option>
	<option value="318">Tunisia</option>
	<option value="296">Turkey</option>
	<option value="941">Turkmenistan</option>
	<option value="297">Turks and Caicos Islands</option>
	<option value="942">Tuvalu</option>
	<option value="827">Uganda</option>
	<option value="298">Ukraine</option>
	<option value="299">United Arab Emirates</option>
	<option value="327">United Kingdom</option>
	<option selected="selected" value="0">United States</option>
	<option value="300">Uruguay</option>
	<option value="184">Uzbekistan</option>
	<option value="345">Vanuatu</option>
	<option value="971">Vatican City</option>
	<option value="301">Venezuela</option>
	<option value="346">Vietnam</option>
	<option value="303">Virgin Islands, British</option>
	<option value="304">Virgin Islands, U.S.</option>
	<option value="834">Yemen</option>
	<option value="307">Zambia</option>
	<option value="308">Zimbabwe</option>

</select><br>
    <fieldset>
        <div id="ctl00_contentPage_ShippingAddressControl_CompanyPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_CompanyTextBox" id="ctl00_contentPage_ShippingAddressControl_CompanyLabel">* Company:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$CompanyTextBox" type="text" value="Design and Direct Source" id="ctl00_contentPage_ShippingAddressControl_CompanyTextBox">
            
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_Address1LabelPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_Address1TextBox" id="ctl00_contentPage_ShippingAddressControl_Address1Label">* Address:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$Address1TextBox" type="text" value="1532 SW Morrison St" id="ctl00_contentPage_ShippingAddressControl_Address1TextBox">
            
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_Address2Panel">
	
            
            <input name="ctl00$contentPage$ShippingAddressControl$Address2TextBox" type="text" id="ctl00_contentPage_ShippingAddressControl_Address2TextBox">
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_CityPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_CityTextBox" id="ctl00_contentPage_ShippingAddressControl_CityLabel">* City:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$CityTextBox" type="text" value="Portland" id="ctl00_contentPage_ShippingAddressControl_CityTextBox">
            
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_StateOrCountryPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_StateTextBox" id="ctl00_contentPage_ShippingAddressControl_StateLabel">* State:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$StateTextBox" type="text" value="OR" id="ctl00_contentPage_ShippingAddressControl_StateTextBox">
            
            
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_PostalCodePanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_PostalCodeTextBox" id="ctl00_contentPage_ShippingAddressControl_ZipCodeLabel">* Zip code:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$PostalCodeTextBox" type="text" value="97205" id="ctl00_contentPage_ShippingAddressControl_PostalCodeTextBox">
            
            
            
            
        
</div>
    </fieldset>
    <fieldset>
        <div id="ctl00_contentPage_ShippingAddressControl_ContactPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_ContactTextBox" id="ctl00_contentPage_ShippingAddressControl_ContactLabel">* Contact name:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$ContactTextBox" type="text" value="Scott Jones" id="ctl00_contentPage_ShippingAddressControl_ContactTextBox">
            
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_PhoneNumberPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_PhoneNumberTextBox" id="ctl00_contentPage_ShippingAddressControl_PhoneNumberLabel">* Phone:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$PhoneNumberTextBox" type="text" value="(503) 525-0600" id="ctl00_contentPage_ShippingAddressControl_PhoneNumberTextBox">
            
            <span id="ctl00_contentPage_ShippingAddressControl_PhoneNumberExtensionLabel" class="NotRequired">Ext:</span>
            <input name="ctl00$contentPage$ShippingAddressControl$PhoneNumberExtension" type="text" value="0" id="ctl00_contentPage_ShippingAddressControl_PhoneNumberExtension">
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_FaxPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_ShippingAddressControl_FaxTextBox" id="ctl00_contentPage_ShippingAddressControl_FaxNumberLabel">* Fax:</label>
            <input name="ctl00$contentPage$ShippingAddressControl$FaxTextBox" type="text" value="(503) 228-7170" id="ctl00_contentPage_ShippingAddressControl_FaxTextBox">
            
        
</div>
        <div id="ctl00_contentPage_ShippingAddressControl_EmailPanel" class="ValidInput">
	
            
            
            
            
        
</div>
    </fieldset>
</div>

                        <p></p>
                    </div>
                    <div class="Panel clearfix">
                        <h4>
                            Billing information
                        </h4>
                        <p>
                            </p><div id="ctl00_contentPage_BillingSameAsShippingPanel" class="Single">
	
                                <span style="display: inline"><input id="ctl00_contentPage_IsBillingSameCheck" type="checkbox" name="ctl00$contentPage$IsBillingSameCheck" onclick="javascript:setTimeout('__doPostBack(\'ctl00$contentPage$IsBillingSameCheck\',\'\')', 0)"></span>
                                Is your billing address the same as above?
                            
</div>
                        <p></p>
                        
<div class="BlockInputFields">
    <span id="ctl00_contentPage_BillingAddressControl_CountryLabel" class="NotRequired">Country:</span>
    <select name="ctl00$contentPage$BillingAddressControl$CountryDropDownList" onchange="javascript:setTimeout('__doPostBack(\'ctl00$contentPage$BillingAddressControl$CountryDropDownList\',\'\')', 0)" id="ctl00_contentPage_BillingAddressControl_CountryDropDownList" style="width: auto">
	<option value="-1">Select a country</option>
	<option value="2">Albania</option>
	<option value="171">Algeria</option>
	<option value="189">American Samoa</option>
	<option value="912">Andorra</option>
	<option value="178">Angola</option>
	<option value="190">Anguilla</option>
	<option value="191">Antigua and Barbuda</option>
	<option value="192">Argentina</option>
	<option value="914">Armenia</option>
	<option value="193">Aruba</option>
	<option value="194">Australia</option>
	<option value="195">Austria</option>
	<option value="917">Azerbaijan</option>
	<option value="196">Bahamas</option>
	<option value="197">Bahrain</option>
	<option value="198">Bangladesh</option>
	<option value="199">Barbados</option>
	<option value="911">Belarus</option>
	<option value="200">Belgium</option>
	<option value="328">Belize</option>
	<option value="918">Benin</option>
	<option value="201">Bermuda</option>
	<option value="919">Bhutan</option>
	<option value="202">Bolivia</option>
	<option value="329">Bonaire</option>
	<option value="909">Bosnia and Herzegovina</option>
	<option value="313">Botswana</option>
	<option value="203">Brazil</option>
	<option value="17">Brunei Darussalam</option>
	<option value="204">Bulgaria</option>
	<option value="19">Burkina Faso</option>
	<option value="772">Burundi</option>
	<option value="892">Cambodia</option>
	<option value="20">Cameroon</option>
	<option value="312">Canada</option>
	<option value="920">Cape Verde Islands</option>
	<option value="205">Cayman Islands</option>
	<option value="973">Central African Republic</option>
	<option value="976">Chad</option>
	<option value="905">Channel Islands</option>
	<option value="206">Chile</option>
	<option value="207">China</option>
	<option value="23">Colombia</option>
	<option value="916">Commonwealth of The Bahamas</option>
	<option value="921">Comoros Islands</option>
	<option value="331">Cook Islands</option>
	<option value="210">Costa Rica</option>
	<option value="211">Cote D'Ivoire</option>
	<option value="212">Croatia</option>
	<option value="213">Cuba</option>
	<option value="677">Curacao</option>
	<option value="214">Cyprus</option>
	<option value="215">Czech Republic</option>
	<option value="216">Denmark</option>
	<option value="28">Djibouti</option>
	<option value="217">Dominica</option>
	<option value="218">Dominican Republic</option>
	<option value="983">East Timor</option>
	<option value="219">Ecuador</option>
	<option value="220">Egypt</option>
	<option value="221">El Salvador</option>
	<option value="922">Equatorial Guinea</option>
	<option value="981">Eritrea</option>
	<option value="222">Estonia</option>
	<option value="314">Ethiopia</option>
	<option value="923">Falkland Islands</option>
	<option value="924">Faroe Islands</option>
	<option value="223">Fiji</option>
	<option value="224">Finland</option>
	<option value="225">France</option>
	<option value="334">French Guiana</option>
	<option value="649">French Polynesia</option>
	<option value="226">Gabon</option>
	<option value="925">Gambia</option>
	<option value="975">Georgia</option>
	<option value="227">Germany</option>
	<option value="228">Ghana</option>
	<option value="926">Gibraltar</option>
	<option value="230">Greece</option>
	<option value="927">Greenland</option>
	<option value="679">Grenada</option>
	<option value="231">Guadeloupe</option>
	<option value="232">Guam</option>
	<option value="233">Guatemala</option>
	<option value="980">Guinea</option>
	<option value="335">Guyana</option>
	<option value="234">Haiti</option>
	<option value="235">Honduras</option>
	<option value="237">Hungary</option>
	<option value="238">Iceland</option>
	<option value="239">India</option>
	<option value="240">Indonesia</option>
	<option value="648">Ireland</option>
	<option value="242">Israel</option>
	<option value="243">Italy</option>
	<option value="244">Jamaica</option>
	<option value="245">Japan</option>
	<option value="246">Jordan</option>
	<option value="247">Kazakhstan</option>
	<option value="248">Kenya</option>
	<option value="928">Kiribati</option>
	<option value="681">Korea (South)</option>
	<option value="250">Kuwait</option>
	<option value="974">Kyrgyzstan</option>
	<option value="929">Laos</option>
	<option value="251">Latvia</option>
	<option value="252">Lebanon</option>
	<option value="930">Lesotho</option>
	<option value="58">Liberia</option>
	<option value="982">Libya</option>
	<option value="904">Liechtenstein</option>
	<option value="253">Lithuania</option>
	<option value="254">Luxembourg</option>
	<option value="931">Macau</option>
	<option value="910">Macedonia</option>
	<option value="186">Madagascar</option>
	<option value="255">Malawi</option>
	<option value="256">Malaysia</option>
	<option value="932">Maldives</option>
	<option value="977">Mali</option>
	<option value="315">Malta</option>
	<option value="933">Marshall Islands</option>
	<option value="257">Martinique</option>
	<option value="979">Mauritania</option>
	<option value="258">Mauritius</option>
	<option value="259">Mexico</option>
	<option value="972">Micronesia</option>
	<option value="177">Moldova</option>
	<option value="906">Monaco</option>
	<option value="934">Mongolia</option>
	<option value="915">Montenegro</option>
	<option value="935">Montserrat</option>
	<option value="316">Morocco</option>
	<option value="803">Mozambique</option>
	<option value="64">Namibia</option>
	<option value="936">Nauru</option>
	<option value="260">Nepal</option>
	<option value="261">Netherlands</option>
	<option value="102">Netherlands Antilles</option>
	<option value="263">New Caledonia</option>
	<option value="348">New Zealand</option>
	<option value="265">Nicaragua</option>
	<option value="67">Niger</option>
	<option value="266">Nigeria</option>
	<option value="943">Niue</option>
	<option value="267">Northern Mariana Islands</option>
	<option value="268">Norway</option>
	<option value="269">Oman</option>
	<option value="270">Pakistan</option>
	<option value="271">Panama</option>
	<option value="272">Papua New Guinea</option>
	<option value="273">Paraguay</option>
	<option value="274">Peru</option>
	<option value="275">Philippines</option>
	<option value="276">Poland</option>
	<option value="277">Portugal</option>
	<option value="310">Puerto Rico</option>
	<option value="278">Qatar</option>
	<option value="183">Reunion</option>
	<option value="76">Romania</option>
	<option value="821">Russia</option>
	<option value="978">Rwanda</option>
	<option value="685">Saint BarthTlemy</option>
	<option value="280">Saint Kitts and Nevis</option>
	<option value="281">Saint Lucia</option>
	<option value="687">Saint Martin</option>
	<option value="282">Saint Vincent and the Grenadines</option>
	<option value="149">Samoa</option>
	<option value="907">San Marino</option>
	<option value="937">São Tomé and Príncipe</option>
	<option value="283">Saudi Arabia</option>
	<option value="284">Senegal</option>
	<option value="306">Serbia</option>
	<option value="938">Seychelles</option>
	<option value="176">Sierra Leone</option>
	<option value="285">Singapore</option>
	<option value="822">Slovakia</option>
	<option value="908">Slovenia</option>
	<option value="317">Solomon Islands</option>
	<option value="286">South Africa</option>
	<option value="287">Spain</option>
	<option value="288">Sri Lanka</option>
	<option value="342">Suriname</option>
	<option value="88">Swaziland</option>
	<option value="289">Sweden</option>
	<option value="290">Switzerland</option>
	<option value="291">Syria</option>
	<option value="692">Tahiti</option>
	<option value="824">Taiwan</option>
	<option value="939">Tajikistan</option>
	<option value="825">Tanzania</option>
	<option value="294">Thailand</option>
	<option value="940">Togo</option>
	<option value="344">Tonga</option>
	<option value="881">Trinidad and Tobago</option>
	<option value="318">Tunisia</option>
	<option value="296">Turkey</option>
	<option value="941">Turkmenistan</option>
	<option value="297">Turks and Caicos Islands</option>
	<option value="942">Tuvalu</option>
	<option value="827">Uganda</option>
	<option value="298">Ukraine</option>
	<option value="299">United Arab Emirates</option>
	<option value="327">United Kingdom</option>
	<option selected="selected" value="0">United States</option>
	<option value="300">Uruguay</option>
	<option value="184">Uzbekistan</option>
	<option value="345">Vanuatu</option>
	<option value="971">Vatican City</option>
	<option value="301">Venezuela</option>
	<option value="346">Vietnam</option>
	<option value="303">Virgin Islands, British</option>
	<option value="304">Virgin Islands, U.S.</option>
	<option value="834">Yemen</option>
	<option value="307">Zambia</option>
	<option value="308">Zimbabwe</option>

</select><br>
    <fieldset>
        <div id="ctl00_contentPage_BillingAddressControl_CompanyPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_CompanyTextBox" id="ctl00_contentPage_BillingAddressControl_CompanyLabel">* Company:</label>
            <input name="ctl00$contentPage$BillingAddressControl$CompanyTextBox" type="text" value="Design and Direct Source" id="ctl00_contentPage_BillingAddressControl_CompanyTextBox">
            
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_Address1LabelPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_Address1TextBox" id="ctl00_contentPage_BillingAddressControl_Address1Label">* Address:</label>
            <input name="ctl00$contentPage$BillingAddressControl$Address1TextBox" type="text" value="712 Ferry Street" id="ctl00_contentPage_BillingAddressControl_Address1TextBox">
            
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_Address2Panel">
	
            
            <input name="ctl00$contentPage$BillingAddressControl$Address2TextBox" type="text" id="ctl00_contentPage_BillingAddressControl_Address2TextBox">
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_CityPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_CityTextBox" id="ctl00_contentPage_BillingAddressControl_CityLabel">* City:</label>
            <input name="ctl00$contentPage$BillingAddressControl$CityTextBox" type="text" value="EASTON" id="ctl00_contentPage_BillingAddressControl_CityTextBox">
            
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_StateOrCountryPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_StateTextBox" id="ctl00_contentPage_BillingAddressControl_StateLabel">* State:</label>
            <input name="ctl00$contentPage$BillingAddressControl$StateTextBox" type="text" value="PA" id="ctl00_contentPage_BillingAddressControl_StateTextBox">
            
            
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_PostalCodePanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_PostalCodeTextBox" id="ctl00_contentPage_BillingAddressControl_ZipCodeLabel">* Zip code:</label>
            <input name="ctl00$contentPage$BillingAddressControl$PostalCodeTextBox" type="text" value="18042" id="ctl00_contentPage_BillingAddressControl_PostalCodeTextBox">
            
            
            
            
        
</div>
    </fieldset>
    <fieldset>
        <div id="ctl00_contentPage_BillingAddressControl_ContactPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_ContactTextBox" id="ctl00_contentPage_BillingAddressControl_ContactLabel" class="NotRequired">Contact name:</label>
            <input name="ctl00$contentPage$BillingAddressControl$ContactTextBox" type="text" value="Laura Hahn" id="ctl00_contentPage_BillingAddressControl_ContactTextBox">
            
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_PhoneNumberPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_PhoneNumberTextBox" id="ctl00_contentPage_BillingAddressControl_PhoneNumberLabel">* Phone:</label>
            <input name="ctl00$contentPage$BillingAddressControl$PhoneNumberTextBox" type="text" value="(508) 734-9173" id="ctl00_contentPage_BillingAddressControl_PhoneNumberTextBox">
            
            <span id="ctl00_contentPage_BillingAddressControl_PhoneNumberExtensionLabel" class="NotRequired">Ext:</span>
            <input name="ctl00$contentPage$BillingAddressControl$PhoneNumberExtension" type="text" value="0" id="ctl00_contentPage_BillingAddressControl_PhoneNumberExtension">
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_FaxPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_FaxTextBox" id="ctl00_contentPage_BillingAddressControl_FaxNumberLabel">* Fax:</label>
            <input name="ctl00$contentPage$BillingAddressControl$FaxTextBox" type="text" value="(508) 668-2392" id="ctl00_contentPage_BillingAddressControl_FaxTextBox">
            
        
</div>
        <div id="ctl00_contentPage_BillingAddressControl_EmailPanel" class="ValidInput">
	
            <label for="ctl00_contentPage_BillingAddressControl_EmailTextBox" id="ctl00_contentPage_BillingAddressControl_EmailLabel">* Email:</label>
            <input name="ctl00$contentPage$BillingAddressControl$EmailTextBox" type="text" value="payables@mgnlogistics.com" id="ctl00_contentPage_BillingAddressControl_EmailTextBox">
            
            
        
</div>
    </fieldset>
</div>

                    </div>
                    <div class="Panel clearfix">
                        <h4>
                            Contact information
                        </h4>
                        <div class="BlockInputFields"> 
                            <fieldset>
                                <span id="ctl00_contentPage_WebSurferLabel">Web surfer:</span>
                                <input name="ctl00$contentPage$WebSurferTextBox" type="text" id="ctl00_contentPage_WebSurferTextBox">
                                <span id="ctl00_contentPage_Label5">Ext 3:</span>
                                <input name="ctl00$contentPage$Ext3TextBox" type="text" id="ctl00_contentPage_Ext3TextBox">
                            </fieldset>
                        </div>
                        <div class="SaveChanges text-right">
                             <input type="image" name="ctl00$contentPage$ImageButton2" id="ctl00_contentPage_ImageButton2" class="Save" src="/images/button_savechanges_gold.png" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$contentPage$ImageButton2&quot;, &quot;&quot;, true, &quot;ShippingBilling&quot;, &quot;&quot;, false, false))" style="border-width:0px;">
                        </div>
                    </div>
                </div>

            </div>