
<!DOCTYPE html>
<html>
<head>
	<title>SideBar Menu</title>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/content.css">
</head>
<body>
	<nav class="nav-main">
		<div class="logo">Arts</div>
		<ul>
			<!-- <li>
				<input type="radio" name="nav-group" id="radio" class="nav-option" value="1">
				<label for="radio" class="nav-item">test</label>
				<label for="nav-close" class="nav-close"></label>
				<div class="nav-content">
					<div class="nav-sub">
						<ul>
							<li><a href="/gallery/{{user.id}}">Galeria</a></li>
							<li><a href="/likes/{{user.id}}">Likes</a></li>
							<li><a href='/new_img/{{user.id}}'>Upload-image</a></li>
						</ul>
					</div>
				</div>
			</li> -->
			<li>
				<input type="radio" name="nav-group" id="radio1" class="nav-option" value="1">
				<label for="radio1" class="nav-item">{{user.name}}</label>
				<label for="nav-close" class="nav-close"></label>
				<div class="nav-content">
					<div class="nav-sub">
						<ul>
							<li><a href="/{{user.name}}">{{user.name}}</a></li>
							<li><a href="/comentados">Comentados</a></li>
							<li><a href="/gallery/{{user.id}}">Galeria-img</a></li>
							<li><a href="/likes/{{user.id}}">Likes</a></li>
							<li><a href='/new_img/{{user.id}}'>Upload-image</a></li>
							<li><a href="/logout">Log-out</a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	<label for="nav-close" class="nav-close"></label>
	<input type="radio" name="nav-group" id="nav-close" class="nav-close-option" value="0">
	<div id="sidebar">

		<ul>
			<li><a href="{{url_for('home',user_id=user.id)}}">Home-Page</a></li>
			<li><a href="#">Img-Tags</a></li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">Link 4</a></li>
			<li><a href="#">Link 5</a></li>
		</ul>

		<div id="sidebar-btn">
			<span></span>
			<span></span>
			<span></span>
		</div>

	</div>
	<hr id="filer" style='height: 33px; background-color: #666; top:0; margin: 0; padding: 0;'>
	<div class="content" style="height:100%; background-color: red;">
			
	</div>
	 <div id="log"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$( "input[type=radio][name=nav-group]" ).on( "click", function() {
		// $('#log').css("background-color","orange")
  		$( "#log" ).html( $( "input:checked" ).val() + " is checked!" );
  		if ($( "input:checked" ).val() == '1') {
			$('#log').css("background-color","green")
			$('.nav-close').css('display','block')
		}else{
			$('#log').css("background-color","orange")
			$('.nav-close').css('display','none')	
		}

	});

	$(document).ready(function(){
		$('#sidebar-btn').click(function(){
			$('#sidebar').toggleClass('visible');
		});
	});

	</script>

</body>
</html>
